body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.jumbotron {
    background-color: #343a40;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 45%; /* lebar sekitar setengah dari container */
    max-width: 300px; /* maksimum lebar card */
    margin-bottom: 20px;
}

img{
    width: 300px;
}

/* Media query untuk lebar layar maksimum 1080px */
@media only screen and (max-width: 1080px) {
    .container {
        width: 90%; /* Menyesuaikan lebar container menjadi 90% dari lebar layar */
    }
}

/* Media query untuk lebar layar maksimum 720px */
@media only screen and (max-width: 720px) {
    .container {
        width: 80%; /* Menyesuaikan lebar container menjadi 80% dari lebar layar */
    }
    .card {
        width: 100%; /* Menyesuaikan lebar card menjadi lebar penuh pada layar yang lebih sempit */
    }
}

/* Media query untuk lebar layar maksimum 540px */
@media only screen and (max-width: 540px) {
    .container {
        width: 70%; /* Menyesuaikan lebar container menjadi 70% dari lebar layar */
    }
}