h1{
    font-size: xx-large;
    color: blueviolet;
    font-family: Poppins;
}

span{
    background-color: bisque;
}

#iya{
    border: 1px black;
    margin-top: 12px;
    font-size: larger;
    font-style: italic;
    background-color: wheat;
}

.coba {
    color: brown;
    background-color: cadetblue;
}

.coba h2 {
    color: plum;
    background-color:cadetblue ;
}

input:user-invalid{
    border: 5px solid red;
}

input+span{
    display: none;
}
input:user-invalid+span{
    display: inline;
}

/* div:hover{
    font-size: 500%;
} */

.box{
    background-color: azure;
    width: 20px;
    height: 25px;
    padding: 200px;
    border: 2px solid black;
    margin: 200px;
}

.box:hover{
    font-size: 60px;
}